---
import type { Playlist } from "@/lib/data";
import { CardPlayButton } from "./CardPlayButton";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;
---

<a
  href={`/playlist/${id}`}
  class="playlist-item flex group relative transition-all duration-300 overflow-hidden items-center gap-5 rounded-md shadow-lg hover:shadow-xl outline-none bg-ebony-clay-800/30 hover:bg-ebony-clay-700/40 focus:bg-ebony-clay-700/40"
  data-color={color.dark}
  transition:name=`playlist ${id} box`
>
  <div class="h-14 w-14">
    <img
      src={playlist.cover}
      alt={playlist.title}
      class="object-cover h-full w-full shadow-[5px_0_30px_0px_rgba(0,0,0,0.3)]"
      transition:name=`playlist ${id} image`
    />
  </div>
  <div
    class="font-medium block"
    transition:name=`playlist ${id} title`
  >
    {title}
  </div>
  <div
    class={"absolute right-4 opacity-0 group-hover:opacity-100 transition-opacity duration-300"}
    transition:name=`playlist ${id} play`
  >
  <CardPlayButton id={id} client:visible />
  </div>

</a>

